# Yelp Dataset Project

#### The idea is to build a recommendation system based on user reviews rather than relying on genre based categorization.

Data provided by the Yelp is in json format:<br>
__business.json__: Consists data regarding all the businesses registered with yelp. (Primary Key: _businessid_).<br>
__review.json__: Consists of all the reviews from users and rating for a particular business. (Primary Key: _reviewid_)<br>
__checkin.json__: Consistes of timestamps as checkin for each business.<br>
__user.json__:Consists of all the users registered under Yelp. (Primary Key: _userid_)<br>
__tip.json__:Consists of short review given to a business by the user.<br>
<br>
__ Group Members:__
> Ashish Aggarwal<br> 
Vikas Singh<br>
Syed Haroon

Our database was divided in 5 different JSON files: business, users, tip, review, checkin
Schema can be seen by running the following commands.
![alt text](yelp_dataset_schema.png "Schema")

![alt text](User.png "Schema")  ![alt text](Recommend.png "Schema") ![alt text](Business.png "Schema")

## Data Slicing

In [3]:
import pandas as pd

In [8]:
data_review=pd.read_json('slicedReview2.json', lines=True)
data_review.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,LDMCrFlGIFUN6L-FEFgzWg,0,2014-11-26,0,VSpTKm_Z7N9_-6jbbkozmA,2,I've been eating chicken at el poll loco since...,0,yeyeg8Vm4Lxvf4tZqoiKIA
1,LDMCrFlGIFUN6L-FEFgzWg,0,2015-06-26,0,4gH-5f0ewrH2Vvl0UYtQQA,1,I'm at training for work and went for a quick ...,0,GLGz9sSNHIbguwv90XStYA
2,LDMCrFlGIFUN6L-FEFgzWg,1,2014-05-27,0,1qBsRv6joCOCZzs8BGKk0w,4,Newly decorated. Great chicken. Ordering could...,0,rcwQ0ubBNHRGdqjbQQ-Usg
3,LDMCrFlGIFUN6L-FEFgzWg,2,2015-06-18,1,qlnMpBo8_GWhlJE6zR51qA,3,Given this location is close to my work I find...,2,YxqLJwDgcL4OoDB1hN-Ikg
4,LDMCrFlGIFUN6L-FEFgzWg,0,2014-11-25,0,FdsAx-XpgfWzLHUDJWZTzw,3,Food is good prices are good and service was g...,0,6ouNbGA50B7WUUhZuOy0Cw

In [4]:
data_business=pd.read_json('business.json', lines=True)
data_business.head(n=4)

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,691 Richmond Rd,"{'RestaurantsPriceRange2': 2, 'BusinessParking...",YDf95gJZaq05wvo7hTQbbQ,"[Shopping, Shopping Centers]",Richmond Heights,"{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",1,41.541716,-81.493116,Richmond Town Square,,44143,17,2.0,OH
1,2824 Milton Rd,"{'GoodForMeal': {'dessert': False, 'latenight'...",mLwM-h2YhXl2NCgdS84_Bw,"[Food, Soul Food, Convenience Stores, Restaura...",Charlotte,"{'Monday': '10:00-22:00', 'Tuesday': '10:00-22...",0,35.236870,-80.741976,South Florida Style Chicken & Ribs,Eastland,28215,4,4.5,NC
2,337 Danforth Avenue,"{'BusinessParking': {'garage': False, 'street'...",v2WhjAB3PIBA8J8VxG3wEg,"[Food, Coffee & Tea]",Toronto,"{'Monday': '10:00-19:00', 'Tuesday': '10:00-19...",0,43.677126,-79.353285,The Tea Emporium,Riverdale,M4K 1N7,7,4.5,ON
3,"7702 E Doubletree Ranch Rd, Ste 300",{},CVtCbSB1zUcUWg-9TNGTuQ,"[Professional Services, Matchmakers]",Scottsdale,"{'Friday': '9:00-17:00', 'Tuesday': '9:00-17:0...",1,33.565082,-111.916400,TRUmatch,,85258,3,3.0,AZ

In [ ]:
data_user=pd.read_json('user.json', lines=True)
data_user.head(n=4)
#takes forever to load

In [6]:
data_tip=pd.read_json('tip.json', lines=True)
data_tip.head(n=4)

,business_id,date,likes,text,user_id
0,tJRDll5yqpZwehenzE2cSg,2012-07-15,0,Get here early enough to have dinner.,zcTZk7OG8ovAmh_fenH21g
1,jH19V2I9fIslnNhDzPmdkA,2015-08-12,0,Great breakfast large portions and friendly wa...,ZcLKXikTHYOnYt5VYRO5sg
2,dAa0hB2yrnHzVmsCkN4YvQ,2014-06-20,0,Nice place. Great staff. A fixture in the tow...,oaYhjqBbh18ZhU0bpyzSuw
3,dAa0hB2yrnHzVmsCkN4YvQ,2016-10-12,0,Happy hour 5-7 Monday - Friday,ulQ8Nyj7jCUR8M83SUMoRQ

In [7]:
data_checkin=pd.read_json('checkin.json', lines=True)
data_checkin.head(n=4)

              business_id                                               time
0  7KPBkxAOEtb3QeIL9PEErg  {'Thursday': {'21:00': 4, '1:00': 1, '4:00': 1...
1  kREVIrSBbtqBhIYkTccQUg  {'Monday': {'13:00': 1}, 'Thursday': {'20:00':...
2  tJRDll5yqpZwehenzE2cSg  {'Monday': {'12:00': 1, '1:00': 1}, 'Saturday'...
3  nhZ1HGWD8lMErdn3FuWuTQ  {'Sunday': {'18:00': 1, '17:00': 2, '22:00': 1...

In [15]:
import os
import math
print("review.json   --> "+str(math.ceil(os.path.getsize('D:\\ashis\\Downloads\\yelp_dataset\\yelp-dataset\\dataset\\review.json')/(1024*1024)))+" MB")
print("business.json --> "+str(math.ceil(os.path.getsize('D:\\ashis\\Downloads\\yelp_dataset\\yelp-dataset\\dataset\\business.json')/(1024*1024)))+" MB")
print("user.json     --> "+str(math.ceil(os.path.getsize('D:\\ashis\\Downloads\\yelp_dataset\\yelp-dataset\\dataset\\user.json')/(1024*1024)))+" MB")
print("tip.json      --> "+str(math.ceil(os.path.getsize('D:\\ashis\\Downloads\\yelp_dataset\\yelp-dataset\\dataset\\tip.json')/(1024*1024)))+" MB")
print("checkin.json  --> "+str(math.ceil(os.path.getsize('D:\\ashis\\Downloads\\yelp_dataset\\yelp-dataset\\dataset\\checkin.json')/(1024*1024)))+" MB")

review.json   --> 3643 MB
business.json --> 127 MB
user.json     --> 1500 MB
tip.json      --> 177 MB
checkin.json  --> 58 MB

The file upload limit for databricks is 2GB ,so we had to slice our review file from 3.6GB. <br>
Taking top 100000 rows of the dataset would have resulted in biased/inconsistent data.<br>
So first we filtered only those businesses which satisfied the following parameteres:<br>
    - located in las vegas.
    - have greater than 10 reviews on it.
    - related to Food/Restraunt/Bars.
And dumped the results in a CSV file.

In [ ]:
import pandas as pd;

business = pd.read_json("business.json", lines=True)

bt = business[(business['city']=="Las Vegas")];

btf = bt[(bt['categories'].astype(str).str.contains('Food')) | (bt['categories'].astype(str).str.contains('Restaurants'))| (bt['categories'].astype(str).str.contains('Bar'))| (bt['categories'].astype(str).str.contains('Bakeries'))]

btc = btf[(btf['review_count']>10)];

businessIdsJson = btc['business_id'];
businessIdsJson.to_csv("businessIds.csv", index=False);

Then we ran a shell script over it, which fetched each business id from the csv and greped it to find all the reviews related to that business id and append it in a new json file called slicedReview.json<br><br>

Using this we reduced the review count to approx 700,000 relevant reviews [704105 to be exact ;)] for initial analysis.

In [ ]:
#Script to tokenize businessIds.csv and get all reviews of that business id from reviews.json file

bId=$(cat businessIdsCsv.csv)
prefix="\"business_id\":\""
suffix="\""
(for word in $bId; 
	do newv=$(echo $word | tr -d '\040\011\012\015') && 
	finalv=$prefix$newv$suffix && 
	echo $finalv && 
	LC_ALL=C fgrep $finalv review.json >> slicedReview2.json; 
done)

## Data Cleaning

Now the job is to remove the clutter from the reviews such as stopwords (this,the,a etc.), stemming terms to their root state,
and any punctuation marks (./,: etc).<br>

We used the Regular Expression library to filter out only alphabets from the review.<br>
We used nltk stopwords list to match and remove them from the list.<br>
We used Count Vectorizer to create a matrix of all the words in all the reviews and their frequency.<br>
Then we aggregated them into a list and arranged them in descending order to get the most used words in the review.<br>

In [ ]:
import pandas as pd

dataset=pd.read_json('slicedReview2.json', lines=True, quoting=3)

import re
import nltk
#nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
rlist=[]
#data cleaning/stemming...
for i in range(0,5000):
    review=re.sub('^a-zA-Z',' ',dataset['text'][i])
    review=review.lower()
    review=review.split()
    ps=PorterStemmer()
    review=[ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review=' '.join(review)
    rlist.append(review)
    print(i)
    
#adding binary value data column feedback
dataset = dataset.assign(feedback=dataset['stars'].values)
dataset.feedback = dataset.feedback.replace({1:0,2:0,3:1,4:1,5:1})
    
#creating word count matrix
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=100)
X=cv.fit_transform(rlist).toarray()
y=dataset['feedback'].head(n=5000)

#sort the list
df1=pd.DataFrame(list(cv.vocabulary_.items()), columns=['Word', 'Count'])
df1=df1.sort_values('Count',ascending=False)

from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(X_train,y_train)

y_pred=classifier.predict(X_test)

from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)